<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Add Kamar</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (page = 'Form Add Kamar')"></nav>
<h3>Tambah Kamar</h3>
<form th:action="@{/kamar/add/}" th:object="${kamar}" method = "POST">
    <input type="hidden" th:field="*{hotel}"/>
    Nama Kamar: <br>
    <input type="text" name="namaKamar"/>
    <br>
    Tipe Kamar : <br>
    <select name="tipe">
        <option value="0">Deluxe</option>
        <option value="1">Executive</option>
        <option value="2">President Suite</option>
    </select>
    <br>
    Kapasitas Kamar : <br>
    <input type="number" name="kapasitasKamar"/>
    <br>
    <button type = "submit">Submit</button>
</form>
<!--<form th:action="@{'/kamar/add/'+ ${hotel.id}}" th:object="${hotel}" method = "POST">-->
<!--    <table class="table">-->
<!--        <input type="hidden" th:field="${hotel}"/>-->
<!--        <thead>-->
<!--        <tr style="text-align: center">-->
<!--            <th>Nama Kamar</th>-->
<!--            <th>Tipe Kamar</th>-->
<!--            <th>Kapasitas Kamar</th>-->
<!--            <th>-->
<!--                <button class="btn btn-outline-primary" type="submit" name="addBaris">Tambah</button>-->
<!--            </th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->

<!--        <tr th:each="kamar, iterationStatus : *{listKamar}" style="text-align: center">-->
<!--            <td>-->
<!--                <input type="text" th:field="*{listKamar[__${iterationStatus.index}__].namaKamar}"/>-->
<!--            </td>-->
<!--            <td>-->
<!--                <select name="tipe" th:field="*{listKamar[__${iterationStatus.index}__].tipe}">-->
<!--                    <option value="0">Deluxe</option>-->
<!--                    <option value="1">Executive</option>-->
<!--                    <option value="2">President Suite</option>-->
<!--                </select>-->
<!--            </td>-->
<!--            <td>-->
<!--                <input type="number" th:field="*{listKamar[__${iterationStatus.index}__].kapasitasKamar}">-->
<!--            </td>-->
<!--            <td>-->
<!--                <button th:value="${iterationStatus.index}" class="btn btn-outline-danger" type="submit" name="deleteBaris">Hapus</button>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--    <tr style="text-align: center">-->
<!--        <td></td>-->
<!--        <td></td>-->
<!--        <td></td>-->
<!--        <td>-->
<!--            <button class="btn btn-outline-success" type="submit" name="saveKamar" >Submit</button>-->
<!--        </td>-->
<!--    </tr>-->
<!--</form>-->
</body>
</html>
