<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Hotel</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (page='View All Hotel')"></nav>
<h2>Daftar Seluruh Hotel:</h2>
    <table class="table"  >
        <thead>
        <tr>
            <th>NO</th>
            <th>Id Hotel</th>
            <th>Nama Hotel</th>
            <th>Alamat Hotel</th>
            <th>Nomor Telepon</th>
            <th>Aksi</th>
            <th></th>
            <th></th>
            <hr>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hotel, iterationStatus : ${listHotel}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${hotel.id}"></td>
            <td th:text="${hotel.namaHotel}"></td>
            <td th:text="${hotel.alamat}"></td>
            <td th:text="${hotel.nomorTelepon}"></td>

            <td><a th:href="@{/hotel/view/?idHotel=}+${hotel.id}" class="btn btn-sm btn-info">Lihat Detail</a></td>
            <td><a th:href="@{/hotel/change/}+${hotel.id}" class="btn btn-sm btn-success">Ubah Data</a></td>
            <td><a th:href="@{/hotel/delete/}+${hotel.id}" class="btn btn-sm btn-danger">Delete Hotel</a></td>
        </tr>
        </tbody>
    </table>

    <hr>
    <hr>
</body>
<div th:replace="fragments/fragment :: footer (d=${time})"></div>
</html>
